<div style="text-align:center">
  <h1>
    <font color="#007acc" face="raleway">
      Hello {{ title }}!<br/>
    </font>
  </h1>
  <h2>
    <font color="#29293d" face="raleway">
      Is this conference awesome?
    </font>
  </h2>


</div>
<app-vote-chart>
  <app-chart-logic></app-chart-logic>
</app-vote-chart>
